.prod {
    text-align:center;
}

.prod-img {

}
.prod-title {
    font-weight:normal;
    a {
        text-decoration:none;
    }
}
.prod-price {

}
.prod-add {
    cursor:pointer;
}
.prod-desc {

}
