<div *ngIf="cart" id="mini-cart">
    <div class="arrow"></div>
    <div class="header">SHOPPING CART</div>
    <ul class="cart-items">
        <li *ngFor="let item of cart.items">
            <mini-cart-item [product]="productService.getProductById(item.id).then((res) => {return res})"></mini-cart-item>
        </li>
        <li class="cart-more">
            ...{{remainingQty}} more items in <a routerLink="/cart" href="">your cart</a>.
        </li>
    </ul>
    <div class="action">
        <div class="btn"><a routerLink="/cart" href="">View Cart</a></div>
        <div class="btn btn-primary"><a routerLink="/billing-shipping" href="">Checkout</a></div>
    </div>
</div>
