@import '../../../scss/_variables';

#mini-cart {
    position:absolute;
    right:0;
    top:55px;
    z-index:1000;

    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
    width:250px;
    background-color:#fff;

    .arrow {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid lighten(#5c5c5c, 30%);
        position: absolute;
        top: -5px;
        right: 50px;
    }

    .header {
        background-color:lighten(#5c5c5c, 30%);
        text-align:center;
        padding:10px 0;
        color:darken(#5c5c5c, 20%);
        font-size:11px;
        position:relative;
        .close-btn {
            position:absolute;
            top:10px;
            right:10px;
        }
    }

    .cart-items {
        list-style:none;
        padding:0 10px;
        margin:0;
        li {
            @extend .clearfix;
            padding:10px 0 10px;
            margin:0;
            border-bottom:1px solid lighten(#ccc, 10%);
            &:last-child {
                border:0;
            }
            .prod-img {
                float:left;
                width:25%;
                img {
                    max-width:100%;
                }
            }
            .detail {
                float:right;
                width:70%;
                padding:0 5%;
                position:relative;
                .title {
                    font-size:14px;
                    margin-top:5px;
                    margin-bottom:5px;
                }
                .sub-line {
                    text-transform:uppercase;
                    font-size:12px;
                    color:#5c5c5c;
                }
                .remove {
                    cursor:pointer;
                    position:absolute;
                    right:0px;
                    top:40%;
                    color:lighten(#5c5c5c, 30%);
                    &:hover {
                        color:#5c5c5c;
                    }
                }
            }
        }
        .cart-more {
            font-size:12px;
            padding-bottom:0;
            text-align:right;
        }
    }

    .action {
        padding:10px 10px 0;
        text-align:center;
        .btn {
            width:100%;
            margin:0 0 10px 0;
            font-size:13px;
        }
    }

    .empty {
        padding:10px;
        margin:0;
        font-size:13px;
    }
}
