<div id="mini-cart">
    <div class="arrow"></div>
    <div class="header">SHOPPING CART</div>
    <ul class="cart-items">
        <li>
            <a class="prod-img" href=""><img src="http://placehold.it/300" /></a>
            <div class="detail">
                <div class="title"><a href="">First cart item</a></div>
                <div class="sub-line">2 x <span class="price">$13.99</span></div>
                <div class="remove"><i class="fa fa-times-circle"></i></div>
            </div>
        </li>
        <li>
            <a class="prod-img" href=""><img src="http://placehold.it/300" /></a>
            <div class="detail">
                <div class="title"><a href="">First cart item</a></div>
                <div class="sub-line">2 x <span class="price">$13.99</span></div>
                <div class="remove"><i class="fa fa-times-circle"></i></div>
            </div>
        </li>
        <li>
            <a class="prod-img" href=""><img src="http://placehold.it/300" /></a>
            <div class="detail">
                <div class="title"><a href="">First cart item</a></div>
                <div class="sub-line">2 x <span class="price">$13.99</span></div>
                <div class="remove"><i class="fa fa-times-circle"></i></div>
            </div>
        </li>
        <li class="cart-more">
            ...4 more items in <a href="">your cart</a>.
        </li>
    </ul>
    <div class="action">
        <div class="btn"><a href="">View Cart</a></div>
        <div class="btn btn-primary"><a href="">Checkout</a></div>
    </div>
</div>
