.category-banner {
    position:relative;
    .title {
        position:absolute;
        bottom:15%;
        left:50px;

        font-size:26px;
        font-weight:800;
        color:#424242;
        &.default {
            color:#fff;
        }
    }
}

.products {
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.prod-card {
    flex: 3 1 30%;
    max-width:30%;
    margin-bottom:5%;

    &:nth-child(3n+3) {
        margin-right:5%;
        margin-left:5%;
    }

    @include large {
        max-width:45%;
        flex: 2 1 45%;

        &:nth-child(3n+3) {
            margin:0;
        }
        &:nth-child(2n+2) {
            margin-right:10%;
        }
    }

    @include medium {
        max-width:100%;
        flex: 1 1 100%;

        &:nth-child(2n+2) {
            margin-right:0;
        }
    }
}

.product-block {
    margin: 30px 50px;
    padding: 0px;
    display: flex;
    flex-flow: row;

    @include large {
        margin-left:15px;
        margin-right:15px;
    }

    @include medium {
        margin-left:10px;
        margin-right:10px;
    }

    .products {
        margin: 4px;
        flex: 3 1 70%;
        order: 2;

        .product-control {
            display:block;
            width:100%;
            margin-bottom:20px;
            text-align:left;
            flex: 1 1 100%;

            .sort-products {
                font-size:16px;
                margin:0;
                border:1px solid #aaa;
                padding:3px 5px;
                option {
                    padding:3px 5px;
                }
            }
        }
    }

    category-nav {
        margin: 0 5% 0 0;
        flex: 1 6 25%;
        order: 1;
    }

    /* Too narrow to support three columns */
    @media all and (max-width: 640px) {

        flex-direction: column;


        .products,
        category-nav {
        /* Return them to document order */
            order: 0;
        }

    }

}
