$brand-primary:     #790000 !default;
$offblack:          #333333 !default;

$body-color:        #292b2c !default;

$body-bg:           #ffffff !default;
$table-bg:          #ffffff !default;

$link-color:            $offblack !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$font-size-root:    16px !default;
$font-size-base:    1rem !default;

$line-height-base:  1.5 !default;

$font-family-sans-serif:    "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:         Georgia, "Times New Roman", Times, serif !default;
$font-family-base:          $font-family-sans-serif !default;

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
