<div class="category">
    <div *ngIf="!category" class="category-banner">
        <div class="title default">SHOP</div>
        <img *ngIf="!category" src="/assets/img/shop-banner.png" />
    </div>
    <div *ngIf="category" class="category-banner">
        <div class="title">{{category.title | uppercase}}</div>
        <img *ngIf="category" src="{{category.image.banner}}" />
    </div>
    <div class="breadcrumbs">
        <ul *ngIf="category">
            <li><a href="">Home</a></li>
            <li>{{category.title}}</li>
        </ul>
    </div>
    <div class="product-block">
        <category-nav></category-nav>
        <div class="products">
            <div class="product-control">
                <select (change)="selectSort($event.target.value)" class="sort-products">
                    <option value="">Sort</option>
                    <option value="priceHighToLow">Price: High to Low</option>
                    <option value="priceLowToHigh">Price: Low to High</option>
                </select>
            </div>
            <product-card *ngFor="let product of products" [product]="product" [category]="category" class="prod"></product-card>
        </div>
    </div>
</div>
