<nav scrollPast scrollPastClass="stick" class="main-nav other third">
    <ul>
        <li><a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" href=""><i class="fa fa-home"></i></a></li><li *ngFor="let nav of navigation"><a routerLink="{{nav.link}}" [routerLinkActive]="['active']" href="#" [innerHTML]="nav.label"></a></li>
    </ul>
    <div class="cart">
        <a href="" (click)="toggleMinicart($event)"><i class="fa fa-shopping-cart"></i> Cart ({{cartQty}})</a>
        <mini-cart (cartUpdate)="openMinicart(2000)" (mouseover)="openMinicart()" (closeMinicart)="closeMinicart()" class="{{minicartToggle}}"></mini-cart>
    </div>
</nav>
